@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-image: url("img/markus-spiske-cvBBO4PzWPg-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

body * {
  z-index: 1;
}

body::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.container {
  height: 100%;
  height: 100vh;
  width: 50%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 30px auto;
      grid-template-rows: 20% 30px auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dcdcc8;
  background-color: #383838;
  z-index: 2;
}

#logo {
  height: 100%;
  width: 25%;
  background-color: #909090;
  padding: 10px;
}

#logo div {
  background-image: url("img/EJS2.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#info {
  color: #fff;
  text-align: center;
  width: 75%;
  font-style: italic;
}

#info h1 {
  font-size: 2rem;
}

#info h2 {
  font-size: 1rem;
}

#info small {
  font-size: 0.6rem;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.navbar .card-btn {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar #about-btn {
  background-color: #5cb835;
}

.navbar #web-dev-btn {
  background-color: #5f8efd;
}

.navbar #eng-btn {
  background-color: #fdbf5f;
}

.navbar #contact-btn {
  background-color: #fd5f5f;
}

.main {
  overflow: hidden;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2px;
  padding-top: 5px;
  padding-bottom: 0;
}

.card h2 {
  font-size: 3rem;
  text-align: center;
}

.card p {
  font-size: 1.2rem;
  text-align: justify;
  margin: 10px auto;
  width: 75%;
}

.card hr {
  border: none;
  border-bottom: 6px dotted black;
  width: 50px;
  margin: 10px auto;
}

.card img {
  width: 150px;
  border-radius: 20px;
  margin: 20px 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.card-head {
  height: 10%;
  width: 100%;
  padding: 10px;
}

.card-body {
  height: 90%;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  padding: 10px;
  padding-bottom: 50px;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.card-body::-webkit-scrollbar {
  display: none;
}

#about {
  background-color: #5cb835;
  -webkit-animation: enter 0.2s;
          animation: enter 0.2s;
}

#about h2 {
  color: #fff;
  background-color: #5cb835;
}

#about hr {
  border-color: #5cb835;
}

#web-dev {
  background-color: #5f8efd;
  -webkit-animation: enter 0.2s;
          animation: enter 0.2s;
  display: none;
}

#web-dev h2 {
  color: #fff;
}

#web-dev hr {
  border-color: #5f8efd;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.skills table {
  font-size: 1.5rem;
}

.skills td {
  padding: 0 10px;
}

.skills td:nth-child(even) {
  text-align: start;
}

.skills td:nth-child(odd) {
  text-align: end;
}

.skills .fab {
  font-size: 2rem;
  color: #d1b203;
}

.github-link i {
  font-size: 4rem;
  color: #383838;
  margin-top: 20px;
}

.github-link i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio {
  margin: 20px auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-color: #909090;
}

.project-container {
  padding: 5px;
}

#digital-clock {
  background-image: url("img/digital-clock-screenshot.PNG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
}

#digital-clock:hover .project {
  display: block;
}

#to-do-list {
  background-image: url("img/to-do-list-screenshot.PNG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
}

#to-do-list:hover .project {
  display: block;
}

#simple-calendar {
  background-image: url("img/simple-calendar-screenshot.PNG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
}

#simple-calendar:hover .project {
  display: block;
}

#pomodoro-clock {
  background-image: url("img/pomodoro-clock-screenshot.PNG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
}

#pomodoro-clock:hover .project {
  display: block;
}

.project {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #383838;
  opacity: 1;
  display: none;
}

.project * {
  margin: 0;
}

.project p {
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.project-links a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10px;
  cursor: pointer;
  text-decoration: none;
}

.project-links a:visited {
  color: #fff;
}

#eng {
  background-color: #fdbf5f;
  -webkit-animation: enter 0.2s;
          animation: enter 0.2s;
  display: none;
}

#eng h2 {
  color: #fff;
}

#eng hr {
  border-color: #fdbf5f;
}

#eng a {
  color: #fdbf5f;
  font-weight: bold;
  text-decoration: none;
}

#contact {
  background-color: #fd5f5f;
  -webkit-animation: enter 0.2s;
          animation: enter 0.2s;
  display: none;
}

#contact h2 {
  color: #fff;
}

#contact p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 100px;
}

#contact a {
  color: #fd5f5f;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

@-webkit-keyframes enter {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes enter {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media (max-width: 1200px) {
  .container {
    width: 75%;
  }
}

@media (max-width: 750px) {
  .container {
    width: 100%;
  }
  #info h1 {
    font-size: 1.5rem;
  }
  #info h2 {
    font-size: 0.75rem;
  }
}

@media (max-width: 500px) {
  .header {
    height: 15%;
  }
  #info h1 {
    font-size: 1rem;
  }
  #info h2 {
    font-size: 0.5rem;
  }
}
